/* styles.css */
#settings-page,
.custom-page {
  margin: 0 auto;
  background-color: #e0f7e0; /* Light green background */
  padding: 20px;
}

.custom-page {
  display: block;
  max-width: max-content;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.custom-page h1 {
  font-weight: 600;
  color: #2e7d32; /* Dark green color for the heading */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
}

.form-group label {
  display: block;
  margin: 0 0 5px 0;
  color: #2e7d32; /* Dark green color for labels */
  font-size: 1em;
}

.form-group select,
.form-group input[type='number'] {
  padding: 10px;
  border: 1px solid #2e7d32; /* Dark green border */
  border-radius: 5px;
  background-color: #ffffff; /* White background for inputs */
  color: #2e7d32; /* Dark green text color */
}

.form-group input[type='number'] {
  width: auto;
}

.form-group .error {
  color: #d32f2f; /* Red color for error messages */
  font-size: 0.9em;
  margin-top: 5px;
}

button[type='submit'] {
  background-color: #2e7d32; /* Dark green background for the button */
  color: #ffffff; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #1b5e20; /* Darker green on hover */
}

select,
input {
  margin: 0 0 5px 0;
}

.interval {
  display: flex;
  flex-direction: column;
}

.lds-facebook div {
  background-color: #2e7d32 !important;
}
