/* styles.css */
:root {
  --primary-color: #4d70eb;
  --primary-light-color: #d5d9f7;
  --primary-dark-color: #1538b7;
}

#settings-page,
.custom-page {
  margin: 0 auto;
  background-color: var(--primary-light-color);
  padding: 20px;
}

.custom-page {
  display: block;
  width: min(450px, 85%);
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.custom-page h1 {
  font-weight: 600;
  color: var(--primary-color);
}

.custom-field {
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: #ffffff;
}

.custom-label {
  display: flex;
  gap: 10px;
  color: var(--primary-color);
}

.error-message {
  color: #d32f2f;
  font-weight: 500;
  font-size: 0.85em;
}

button[type='submit'] {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: var(--primary-dark-color);
}

button[type='submit']:disabled {
  cursor: not-allowed;
  background-color: gray;
}

section[data-css='notice'] {
  right: 0;
}

/* pseudo-tailwind */

.text-gray {
  color: gray;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.flex {
  display: flex;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}
